apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -f compose.yaml
    kompose.version: 1.28.0 (HEAD)
  creationTimestamp: null
  labels:
    io.kompose.service: envoy
  name: envoy
spec:
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
    - name: frontend
      port: 80
      targetPort: 80
  selector:
    io.kompose.service: envoy
status:
  loadBalancer: {}
