replicaCount: 1

backend:
  image: ghcr.io/naborisk/su-csexpa-benchmark-system-backend:main
  env:
    BACKEND_MYSQL_HOST: db
    BACKEND_MYSQL_PORT: 3306
    BACKEND_BENCHMARK_HOST: localhost
    BACKEND_GRPC_PORT: 50051
    BACKEND_JWT_SECRET: super_ultimate_hyper_secret
    BACKEND_INIT_ADMIN_NAME: ohkilab
    BACKEND_INIT_ADMIN_PASSWORD: ohkilab
    BACKEND_STORAGE_PATH: ./storage

benchmark:
  image: ghcr.io/naborisk/su-csexpa-benchmark-system-benchmark-service:main
  env:
    BENCHMARK_GRPC_PORT: 50052


frontend:
  image: ghcr.io/naborisk/su-csexpa-benchmark-system-frontend:main

db:
  env:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: exp-a
    MYSQL_USER: ohkilab
    MYSQL_PASSWORD: ohkilab

envoy:
  image: ghcr.io/naborisk/su-csexpa-benchmark-system-envoy:main
  env:
    ENVOY_UID: 0
    ENVOY_GID: 0
